<ion-view hide-nav-bar="true">
  <ion-content>
    <div class=login-logo>
      <img src="http://otscom.net/brave-heart/apps/css/images/logo.png" alt="image">
    </div>

    <div class="list">
      <label class="item item-input" style="background: none !important; border-top: 0px;">
        <input type="text" placeholder="E-mail" ng-model="email">
      </label>
      

    </div>

      <div class="row">
        <div class="col">
          <button class="button button-block login-button" ng-click="newPwd()">
             REQUEST NEW PASSWORD
          </button>
        </div>
      </div>
           <div align="center">
           		<span class="clr-white">Already a member? <a class="clr-white" href="" ng-click="loginPage()">Click here</a> to Sign In</span>
            </div>
  </ion-content>
</ion-view>