<ion-view hide-nav-bar="true">
  <ion-content>
    <div class=login-logo>

      <img src="http://otscom.net/brave-heart/apps/css/images/logo.png" alt="image">
    </div>
 <form>
     <div class="list">
      <label class="item item-input" style="background: none !important;border-top: 0px;">
         <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input" style="background: none !important;">
         <input type="password" placeholder="Password" ng-model="user.pass">
      </label>
    </div> 

    <div>
      <div align="right">
        <a ng-click="forgetPwd()" href="" class="clr-white">FORGOT PASSWORD</a></div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block login-button" ng-click="login()" ng-disabled="loginForm.$invalid">
           LOGIN
        </button>
      </div>
      <div class="col">
        <button class="button button-block signUp-button" ng-click="signUp()">
           SIGNUP
        </button>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>