<ion-view view-title="WAKE-SLEEP SETTINGS" class="header-footer-color">
  <ion-content>
     
  </ion-content>

    <ion-footer-bar class="footer header-footer-color">
        <div class="row">
            <i class="icon ion-eye" align="center"></i>
            <div class="col" ng-click="dashboard()">
                DASHBOARD
            </div>
            <div class="col" ng-click="activity()"><i class="icon ion-record"></i>ACTIVITY</div>
            <div class="col" ng-click="profile()"><i class="icon ion-person"></i>PROFILE</div>
        </div>
    </ion-footer-bar>
</ion-view>
